    <div class="d-flex align-items-center bg-secondary rounded-3 py-3">
        <fa-icon *ngIf="icon" class="w-25 display-6" [icon]="icon"></fa-icon>
        <div class="d-flex flex-column align-items-start flex-grow-1">
            <div class="text-capitalize">{{label}}</div>
            <div>
                {{value | number: valueFormat}}
                <span *ngIf="symbol" [innerHTML]="symbol"></span>
                <span *ngIf="text" [innerHTML]="text"></span>
            </div>
        </div>
    </div>
